@font-face {
  font-family: 'MyCustomFont';
  src: url('ConsolaMono-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'MyCustomFont', monospace;
}

.drum-machine {
    border: 1px solid #000;
}

.drum-machine-title {
    background-color: #000;
    color: #fff;
    padding-left: 0.5em;
    padding-bottom: 0.1em;
}

.drum-step {
    cursor: pointer;
}

.current-step {
    color: #a00;
}

.drum-machine-controls {
    display: flex;
    gap: 0px;
}

.drum-control {
    cursor: pointer;
/*    border: 1px solid black; */
}

.drum-machine-icon {
}

input {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    appearance: none;
    border: 1px solid black;
}

input::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.drum-control-container-container {
    display: flex;
}

.drum-control-container {
    border: 1px solid black;
    padding: 10px;
}
